*{
	padding: 0;
	margin:0;
}

.wrapper {}
.block {
	width: 80%;
	margin: 0 auto;
	padding: 2% 0;
	overflow: hidden;
}

.title{
	font-weight: 900;
	text-transform: uppercase;
	font-size: 2.5em;
}

img{
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
}
.button{
	display: inline-block;
	margin: 2% 0;
	text-transform: uppercase;
	text-decoration: none;
	background-color: black;
	padding: 4% 8%;
	color: white;
	font-weight: 600;
	font-size: 14px;
}
.sub_title{
	color: #dd5035;
	font-size: 2em;
	text-align: center;
	font-weight: bold;
}

/*-------------------HEADER------------------------*/
.header {
	width: 100%;
	height: 100vh;
	color: white;
	font-weight: 900;
}
.header .bg_img{z-index: -1;}
.header_block{
	display: flex;
	justify-content: space-between;
}
.header_logo {
	position: relative;
	width: 60px;
}
.header_logo img{
	object-fit: contain;
}
.header_text {
	text-transform: uppercase;
}

.header_title{
	display: flex;
}
.header_title span{
	width: 50%;
	margin-top: 7%;
}
.header_title p:first-child{
	font-size: 20px;
	margin-bottom: 4%; 
}
.header_title p:last-child{
	text-shadow: 2px 2px 1px black;
}

@media (max-width: 850px){
	.header_title span{
		width: 100%;
	}
}

/*-----------BLOCK_1--------------------*/
.block_1 {
	height: 100vh;
}
.block_1_items {
	display: flex;
	justify-content: space-between;
	height: 90%;
	margin: 4% 0;
}
.block_1_column{
	padding: 7% 0;
}
.block_1_column:first-child {
	width: 60%;
	padding-left: 6%;
	background: linear-gradient(to right,black 70%, white 70%);
}
.block_1_column:last-child {
	width: 25%;
	align-content: center;
}
.block_1_img {
	width: 100%;
	height:100%;
	position: relative;
}
.block_1_text {}
.block_1_text p{
	font-size:1.3em;
	margin-bottom: 4%;
}
.block_1_text p:first-child{
	font-size: 2em;
	color: grey;
	font-weight: 900;
}
.block_1_text p:first-child:before{
	content: '';
	display: block;
	background-color: black;
	height: 4px;
	width: 60px;
	margin-bottom: 4%;
}
.block_1_text span{
	text-transform: uppercase;
	font-weight: bold;
	font-size:1em;
}
@media (max-width: 1000px){
	.block_1_items{
		display: flex;
		flex-direction: column;
	}
	.block_1_column:first-child{
		width: 100%;
		height: 60%;
	}
	.block_1_column:last-child{
		width: 100%;
		text-align: center;
	}
	.block_1_text p:first-child:before{
		justify-self:center;
	}
	.block_1_column{
		padding-bottom: 0;
	}
}


/*---------------BLOCK_2----------------------*/
.block_2 {
	padding-bottom: 5%;
	display: flex;
	justify-content: space-between;
}
.block_2_text {
	width: 40%;

	& p:first-child{
		font-weight: 900;
		text-transform: uppercase;
		margin-bottom: 4%;
	};
}
.block_2_item {
	width: 18%;
}
.block_2_labl {
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}
@media (max-width: 850px){
	.block_2{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.block_2_text,.block_2_item{
		width: 100%;
		text-align: center;
		padding: 1% 0;
	}
}
/*--------------BLOCK_3------------------------*/
.block_3 {
	background-color: black;
	color: white;
	height: 100vh;
	display: flex;
}
.block_3_container {
	display: flex;
	justify-content: space-between;
	height: 70%;
}
.block_3_column {
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.block_3_img {
	position: relative;
	height: 60%;
}
.block_3_img:first-child img{
	width: 50%;
	height: 70%;
}
.block_3_img:first-child:before{
	position: absolute;
	display: block;
	content: "";
	background-color: #dd5035;
	width: 50%;
	height: 70%;
	margin: 10% 0 0 10%;
}
.block_3_text:last-child{
	margin:auto 0;
}
.block_3_text span:first-child{
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
}
.block_3_text span{
	display: inline-block;
	margin-top: 4%;
}
.block_3_text a{
	background-color: #dd5035;
	padding: 2% 4%;
	margin-top: 4%;
}
.block_3_text #sub_title{
	text-transform: none;
	color: #dd5035;
	margin-top:20%;
	font-size: 1.5em;
}
.block-3-item {
	display: flex;
	justify-content: space-between;
	height: 25%;
	margin: 4% 0;
}
.block-3-img {
	position: relative;
	min-width: 60%;
}
.block-3-text span{
	font-size: 1.3em;
	font-weight: bold;
}
.block-3-text a{
	margin-top: 20%;
	background-color: #dd5035;
	padding: 8% 12%;
}

@media (max-width: 1400px){
	.block_3_img:first-child img{
		width: 70%;
	}
	.block_3_img:first-child:before{
		width: 70%;
	}
}
@media (max-width: 850px){
	.block_3{
		height: 150vh;
	}
	.block_3_container{
		flex-direction: column;
	}
	.block_3_column{
		width: 100%;
		height: 48%;
	}
	.block_3_text{
		text-align: center;
	}
	.block_3_img:first-child img{
		width: 60%;
		height: 85%;
	}
	.block-3-item{
		flex-direction: column;
	}
	.block-3-img{
		height: 60%;
	}
	.block-3-text{
		text-align: center;
		height: auto;
	}
	.block-3-text a{
		padding: 4% 12%;
		margin-top: 5%;
	}
}
/*-------------BLOCK_4-----------------------*/
.block_4 {}
.block_4_items {
	margin-top: 2%;
	display: flex;
	justify-content: space-between;
}
.block_4_item {
	width: 15%;
}
.block_4_img {
	position: relative;
	width: 100%;
	height: 150px;
}
.block_4_text {
	text-transform: uppercase;
	text-align: center;
	margin: 5% 0;
	font-weight: bold;
}
@media(max-width: 850px){
	.block_4_items{
		flex-direction: column;
	}
	.block_4_item{
		width: 400px;
		margin: 0 auto;
		& .block_4_img{
			height: 250px;
		}
	}
}
/*------------BLOCK_5------------------*/
.block_5 {
	display: flex;
	justify-content: space-between;
}
.block_5 div{
	width: 48%;
}
.block_5_img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.block_5_img img{
	height: 90%;
	width: 70%;
	justify-self: center;
}
.block_5_text {}
.block_5_text span{
	display: block;
	margin-bottom: 5%;
}
.block_5_text span:last-child{
	color: grey;
	font-weight: bold;
}
@media (max-width: 850px){
	.block_5{
		
	}
}


@media (max-width: 1000px){
	.block{
		width: 95%;
	}
}
